[flake8]
max-line-length = 80
extend-ignore = E203,E501,E701,E266,F403,F405, B008
exclude =
    .eggs,
    .git,
    .hg,
    .mypy_cache,
    .tox,
    .venv,
    .pytest_cache,
    build,
    dist,
    migrations,
    __pycache__
